*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: monospace;
}
body{
    line-height: 1.6;
    color: #fff;
    height: 100vh;
}
.container{
min-height: 100vh;
   background: linear-gradient(to right, rgba(255, 64, 50, 0.8), rgba(71, 17, 116, 0.9)), url('/img/img24.jpeg') no-repeat center/cover;
}
.logo{
    width: 80px;}
.header{
    display: flex;
    width: 99%;
    justify-content: space-between;
    align-items: center;
}
.main-container{
    width: 100%;
    display: flex;
    padding: 30px 10%;
    justify-content:center;
    align-items: center;
}
.text{
    flex: 1;
    width: 30%;
    margin-right: 30px;
}
.form-box{
    margin-bottom: 20px;
    align-items: center;
    flex: 1;
    padding: 5px;
}
.text-input{
    flex: 1.2;
font-size: 30px;
align-items: start;
font-family: monospace;
width: 30%;
}  
input[type="text"], input[type="email"]{
 width: 100%;
 outline: none;
    border: none;
    color: #f3da20;
    border-radius: 5px;
    padding: 10px;
    text-align:center;
    background: rgba(255, 255, 255, 0.2);
}
input[type="textarea"]{
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    color: #f3da20;
    margin: 10px 0;
    border: none;
    border-radius: 5px
}
 .btn{
    width: 100%;
    padding: 10px 20px;
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;}
.btn:hover{
    background: tomato;}

.socialicon{
    display: flex;
    justify-content: center;
}
.socialicon a{
    text-decoration: none;
    padding: 1px;
    margin: 20px;
    border-radius: 50%;
}
.socialicon a i{
    font-size: 2em;
    color: white;
    opacity: 0.9;
}
.socialicon a:hover{
    background-color: blue;
    transition: 0.5s;}
.footerinfo{
    margin: 9px 0;
}
.footerinfo ul{
    display: flex;
    justify-content: center;
}
.footerinfo li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.5s;
}
li{
    list-style-type: none;
}
.footerinfo li a:hover{
    opacity: 1;
    color: blue ;
}
.footertext{
    text-align: center;
    opacity: 0.7;
    font-size: 1.2em;
    margin-top: 20px;
}
@media (max-width: 768px){
    .header, .main-container{
        flex-direction: column;
    }
    .logo{
        width: 150px;
    }
    .text, .text-input{
        width: 100%;
    }
    footer{
        width: 80%;
        margin: auto;
    }
    h1{
        font-size: 2rem;
    }
}